bbody {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: yellow;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    margin: 0;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a {
    color: yellow;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
}

section#carnes-rojas,
section#pescados,
section#carnes-blancas {
    background-color: #000;
}

section h2 {
    color: yellow;
    text-align: center;
    font-size: 1.5rem;
}

article {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: transform 0.3s;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.article-content {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex: 1;
}

article img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
}

article button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

article button:hover {
    background-color: #b25555;
}

article:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    background-color: #1a1a1a;
    color: yellow;
    padding: 1rem;
    font-size: 1rem;
}